<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogoyang.lifecapsule.meta.condition.dao.ConditionMapper">
    <!--    创建一个触发条件condition-->
    <insert id="createCondition" parameterType="com.gogoyang.lifecapsule.meta.condition.entity.Condition">
        insert into `condition`
        (condition_id, trigger_id, name, `key`, value, remark)
        values
        (#{conditionId}, #{triggerId}, #{name}, #{key}, #{value}, #{remark})
    </insert>

    <!--配置user_info表和UserInfo对象的字段映射 -->
    <resultMap id="conditionMap" type="com.gogoyang.lifecapsule.meta.condition.entity.Condition">
        <result property="conditionId" column="condition_id"/>
        <result property="triggerId" column="trigger_id"/>
    </resultMap>

    <!--根据触发器id，triggerId查询所有的触发条件condition-->
    <select id="listConditionByTriggerId" parameterType="java.lang.String"
            resultMap="conditionMap">
        select* from `condition`
        where 1=1
        and trigger_id=#{triggerId}
    </select>

    <!--根据conditionId查询触发条件信息-->
    <select id="getConditionByConditionId" parameterType="java.lang.String"
            resultMap="conditionMap">
        select * from `condition`
        where condition_id=#{conditionId}
    </select>
</mapper>