<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogoyang.lifecapsule.meta.gogoKey.dao.mapper.GogoKeyMapper">
    <!--创建一个触发器条件 gogoKey-->
    <insert id="createGogoKey" parameterType="com.gogoyang.lifecapsule.meta.gogoKey.entity.GogoKey">
        insert into gogo_key
        (trigger_id, title, description, gogo_key_id, created_time, key_status)
         values
        (#{triggerId}, #{title}, #{description}, #{gogoKeyId}, #{createdTime}, #{keyStatus})
    </insert>

    <!--新增一个参数对-->
    <insert id="createGogoKeyParam" parameterType="map">
        insert into gogo_key_params
        (gogo_key_id, param, value, type, param_id)
        VALUES
        (#{gogoKeyId}, #{param}, #{value}, #{type}, #{paramId})
    </insert>

    <!--配置gogo_key表和GogoKey对象的字段映射 -->
    <resultMap id="gogoKeyMap" type="com.gogoyang.lifecapsule.meta.gogoKey.entity.GogoKey">
        <result property="gogoKeyId" column="gogo_key_id"/>
        <result property="createdTime" column="created_time"/>
        <result property="keyStatus" column="key_status"/>
        <result property="triggerId" column="trigger_id"/>
    </resultMap>

    <resultMap id="gogoKeyParamMap" type="com.gogoyang.lifecapsule.meta.gogoKey.entity.KeyParam">
        <result property="gogoKeyId" column="gogo_key_id"/>
        <result property="paramId" column="param_id"/>
    </resultMap>

    <!--读取所有的公共触发器条件模板-->
    <select id="listGogoPublicKeyAll" parameterType="map"
            resultMap="gogoKeyMap">
        select * from gogo_key
        where key_status='publicKey'
    </select>

    <!--根据gogoKeyId读取触发条件参数-->
    <select id="listKeyParamsByGogoKeyId" parameterType="java.lang.String"
            resultMap="gogoKeyParamMap">
        select * from gogo_key_params
        where gogo_key_id=#{gogoKeyId}
    </select>

    <!--根据gogoKeyId查询触发器条件详情-->
    <select id="getGogoKeyByGogoKeyId" parameterType="java.lang.String"
            resultMap="gogoKeyMap">
        select * from gogo_key
        where gogo_key_id=#{gogoKeyId}
    </select>

    <update id="updateGogoKey" parameterType="com.gogoyang.lifecapsule.meta.gogoKey.entity.GogoKey">
        update gogo_key set
        title=#{title},
        description=#{description}
        where gogo_key_id=#{gogoKeyId}
    </update>

    <update id="updateGogoKeyParam" parameterType="map">
        update gogo_key_params set
        param=#{param},
        value=#{value},
        type=#{type}
        where param_id=#{paramId};
    </update>

    <delete id="deleteGogoKeyParamByGogoKeyId" parameterType="map">
        delete from gogo_key_params
        where gogo_key_id=#{gogoKeyId}
    </delete>

    <select id="getGogoKeyByTriggerid" parameterType="java.lang.String"
            resultMap="gogoKeyMap">
        select * from gogo_key
        where trigger_id=#{triggerid}
    </select>

    <select id="listUserGogoKey" parameterType="map"
            resultMap="gogoKeyMap">
        select * from gogo_key
        where key_status='userKey';
    </select>
</mapper>