<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogoyang.lifecapsule.meta.gogoKey.dao.mapper.GogoKeyMapper">
    <!--    创建一个GogoKey-->
    <insert id="createGogoKey" parameterType="com.gogoyang.lifecapsule.meta.gogoKey.entity.GogoKey">
        insert into gogo_key
        (gogo_key_id, gogo_key_name, gogo_key_type)
        values
        (#{gogoKeyId}, #{name}, #{type})
    </insert>

    <!--配置gogo_key表和GogoKey对象的字段映射 -->
    <resultMap id="gogoKeyMap" type="com.gogoyang.lifecapsule.meta.gogoKey.entity.GogoKey">
        <result property="gogoKeyId" column="gogo_key_id"/>
        <result property="name" column="gogo_key_name"/>
        <result property="type" column="gogo_key_type"/>
    </resultMap>

    <!--读取GogoKey列表-->
    <select id="listGogoKey" parameterType="map"
            resultMap="gogoKeyMap">
        select * from gogo_key
    </select>
</mapper>