<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogoyang.lifecapsule.meta.note.dao.NoteInfoMapper">
    <insert id="createNoteInfo"
            parameterType="com.gogoyang.lifecapsule.meta.note.entity.NoteInfo">
      insert into note_info
      (
      note_id,
      user_id,
      created_time,
      title,
      category_id,
      user_encode_key
      ) values (
      #{noteId},
      #{userId},
      #{createdTime},
      #{title},
      #{categoryId},
      #{userEncodeKey}
      )
    </insert>

    <!--配置note_info表和NoteInfo对象的字段映射 -->
    <resultMap id="noteInfoMap" type="com.gogoyang.lifecapsule.meta.note.entity.NoteInfo">
        <result property="noteId" column="note_id"/>
        <result property="userId" column="user_id"/>
        <result property="createdTime" column="created_time"/>
        <result property="categoryId" column="category_id"/>
        <result property="userEncodeKey" column="user_encode_key"/>
        <result property="categoryName" column="category_name"/>
    </resultMap>

    <resultMap id="noteDetailMap" type="com.gogoyang.lifecapsule.meta.note.entity.NoteDetail">
        <result property="noteId" column="note_id"></result>
        <result property="contentId" column="content_id"></result>
    </resultMap>

    <!--分页查询一个用户id的笔记列表-->
    <select id="listNoteByUserId" parameterType="map"
            resultMap="noteInfoMap">
    select * from note_info
    where 1=1
    and user_id = #{userId}
    order by ids desc
    limit #{pageSize} offset #{offset}
  </select>

    <!--根据noteId查询note笔记-->
    <select id="getNoteByNoteId" parameterType="map"
            resultMap="noteInfoMap">
        select note_info.ids,
       note_id,
       note_info.user_id,
       created_time,
       title,
       note_info.category_id,
       user_encode_key,
       category_name
from note_info
         left join category on category.category_id = note_info.category_id
where note_id = #{noteId}
    </select>

    <!--修改note的基本信息-->
    <update id="updateNoteInfo" parameterType="map">
        update note_info
        <set>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="categoryId!=null">
                category_id=#{categoryId},
            </if>
            <if test="userEncodeKey!=null">
                user_encode_key=#{userEncodeKey}
            </if>
        </set>
        where note_id=#{noteId}
    </update>

    <!--统计一个笔记分类下的笔记总数-->
    <select id="totalNoteByCategoryId" parameterType="java.lang.String"
            resultType="java.lang.Integer">
        select count(ids) as total from note_info
        where category_id=#{categoryId}
    </select>

    <select id="totalNote" parameterType="map"
            resultType="java.lang.Integer">
        select count(*) as total from note_info
        where 1=1
        <choose>
            <when test="categoryId!=null">
                and category_id=#{categoryId}
            </when>
        </choose>
        <choose>
            <when test="userId!=null">
                and user_id=#{userId}
            </when>
        </choose>
    </select>

    <!--查询一个笔记分类下的笔记列表-->
    <select id="listNoteByCategory" parameterType="map"
            resultMap="noteInfoMap">
        select * from note_info
        where category_id=#{categoryId}
        and user_id=#{userId}
        order by ids desc
        limit #{pageSize} offset #{offset}
    </select>

    <!--新增笔记的详细信息-->
    <insert id="createNoteDetail"
            parameterType="com.gogoyang.lifecapsule.meta.note.entity.NoteDetail">
        insert into note_detail
        (note_id, content_id, content)
        values
        (#{noteId}, #{contentId}, #{content})
    </insert>

    <delete id="deleteNoteDetail" parameterType="java.lang.String">
        delete from note_detail
        where note_id=#{noteId}
    </delete>

    <delete id="deleteNoteInfo" parameterType="java.lang.String">
        delete from note_info
        where note_id=#{noteId}
    </delete>

    <select id="getNoteDetail" parameterType="java.lang.String"
            resultMap="noteDetailMap">
        select * from note_detail
        where note_id=#{noteId}
    </select>

    <!--修改笔记内容-->
    <update id="updateNoteDetail" parameterType="map">
        update note_detail set
        content=#{content}
        where content_id=#{contentId}
    </update>

</mapper>