<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gogoyang.lifecapsule.meta.publicNote.dao.PublicNoteDao">
    <!--创建一个新的公开笔记-->
    <insert id="createPublicNote" parameterType="com.gogoyang.lifecapsule.meta.publicNote.entity.PublicNote">
        insert into public_note
        (note_id, title, create_time, user_id)
        values
        (#{noteId}, #{title}, #{createTime}, #{userId})
    </insert>

    <insert id="createPublicNoteDetail"
            parameterType="com.gogoyang.lifecapsule.meta.publicNote.entity.PublicNoteDetail">
        insert into public_note_detail
        (note_id, content)
        values
        (#{noteId}, #{content})
    </insert>

    <!--配置public_note表和PublicNote对象的字段映射 -->
    <resultMap id="publicNoteMap" type="com.gogoyang.lifecapsule.meta.publicNote.entity.PublicNote">
        <result property="noteId" column="note_id"/>
        <result property="createTime" column="create_time"/>
        <result property="userId" column="user_id"/>
        <result property="lastTime" column="last_time"/>
    </resultMap>

    <resultMap id="publicNoteDetailMap" type="com.gogoyang.lifecapsule.meta.publicNote.entity.PublicNoteDetail">
        <result property="noteId" column="note_id"/>
    </resultMap>

    <!--根据noteId读取公开笔记信息-->
    <select id="getPublicNote" parameterType="java.lang.String"
            resultMap="publicNoteMap">
        select * from public_note
        where note_id=#{noteId}
    </select>

    <!--根据noteId读取公开笔记的内容-->
    <select id="getPublicNoteDetail" parameterType="java.lang.String"
            resultMap="publicNoteDetailMap">
        select * from public_note_detail
        where note_id=#{noteId}
    </select>

    <select id="listPublicNote" parameterType="java.lang.String"
            resultMap="publicNoteMap">
        select * from public_note
        where user_id=#{userId}
    </select>

    <select id="getPublicNoteByNoteId" parameterType="java.lang.String"
            resultMap="publicNoteMap">
        select * from public_note
        where note_id=#{noteId}
    </select>

    <update id="updatePublicNote" parameterType="com.gogoyang.lifecapsule.meta.publicNote.entity.PublicNote">
        update public_note set
        title=#{title},
        last_time=#{lastTime}
        where note_id=#{noteId}
    </update>

    <update id="updatePublicNoteDetail"
            parameterType="com.gogoyang.lifecapsule.meta.publicNote.entity.PublicNoteDetail">
        update public_note_detail set
        content=#{content}
        where note_id=#{noteId}
    </update>

    <select id="listAllPublicNote" resultMap="publicNoteMap">
        select * from public_note
    </select>
</mapper>